[Unit]
Description=Watchdog for Smart Home service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/shagent/shwatchdog
WorkingDirectory=/opt/shagent

[Install]
WantedBy=multi-user.target